1) Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1='This is a test of the emergency text system'
file_name=open("test.txt","a")
file_name.write(test1)
file_name.close()

2) Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test2=open("test.txt","r")
print(test2.readlines())
test2.close()

['This is a test of the emergency text system']

3)  Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [4]:
import csv
with open("books.csv","a",newline='') as file:
    write_obj=csv.writer(file)
    write_obj.writerow(["title","author","year"])
    write_obj.writerow(["The Weirdstone of Brisingamen","Alan Garner",1960])
    write_obj.writerow(["Perdido Street Station","China Miéville",2000])
    write_obj.writerow(["Thud!","Terry Pratchett",2005])
    write_obj.writerow(["The Spellman Files","Lisa Lutz",2007])
    write_obj.writerow(["Small Gods","Terry Pratchett",1992])

In [6]:
with open("books.csv","r",newline='') as file:
    read_obj=csv.reader(file)
    for row in read_obj:
        print(row)

['title', 'author', 'year']
['The Weirdstone of Brisingamen', 'Alan Garner', '1960']
['Perdido Street Station', 'China Miéville', '2000']
['Thud!', 'Terry Pratchett', '2005']
['The Spellman Files', 'Lisa Lutz', '2007']
['Small Gods', 'Terry Pratchett', '1992']

4)  Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [10]:
import sqlite3
connection = sqlite3.connect('books1.db')

In [11]:
cursor=connection.cursor()
file=open("books.csv")
rows=csv.reader(file)

5) Read books.csv and insert its data into the details table.

In [17]:
import pandas as pd
df=pd.read_csv('books.csv')

In [18]:
df.to_sql('details',connection,if_exists='append',index=False)

In [19]:
cursor.execute('''SELECT * FROM details''').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Mi�ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

6)  Select and print the title column from the book table in alphabetical order.

In [20]:
cursor.execute('''SELECT title FROM details
ORDER BY title;''').fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

7) From the book table, select and print all columns in the order of publication

In [21]:
cursor.execute('''SELECT * FROM details
ORDER BY year;''').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Mi�ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

8)  Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [28]:
from sqlalchemy import create_engine

In [29]:
engine=create_engine('sqlite:///books1.db')

In [30]:
print(engine)

Engine(sqlite:///books1.db)

In [32]:
engine.execute('''SELECT * FROM DETAILS''').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Mi�ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

9) Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [33]:
!pip install redis

Collecting redis
  Downloading redis-3.5.3-py2.py3-none-any.whl (72 kB)
Installing collected packages: redis
Successfully installed redis-3.5.3

In [34]:
import redis

In [35]:
r=redis.Redis(host='localhost',port=6379,db=0)

In [40]:
r.hmset("test",{"count":1,"name":"Fester Bestertester"})

<ipython-input-40-97de2f097b4a>:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  r.hmset("test",{"count":1,"name":"Fester Bestertester"})

True

In [41]:
r.hgetall("test")

{b'count': b'1', b'name': b'Fester Bestertester'}

10) Increment the count field of test and print it.

In [42]:
r.hincrby("test","count",1)

2

In [43]:
r.hgetall('test')

{b'count': b'2', b'name': b'Fester Bestertester'}

In [44]:
r.hget("test","count")

b'2'