In [1]:
#1.	Mathematical operators are: *, -, +, /   Values are: ‘hello’, -87.8

In [3]:
''' 2.	String can be defined as value representing the text and Variable can be defined as a name that can refer any value (or) reserved memory location to store any value
Ex: var1= “Dattu” ……. Dattu indicates the string and var1 indicates the variable
'''
var1="Dattu"
var1

'Dattu'

In [4]:
'''3.	Data types can be defined as categorization of data items. There are different data types in python:
a.	Integer(int): Variable stores the value as integers
b.	Float(float): Variable stores the value as decimals
c.	Boolean(bool): Variable stores the value as True or False / 1 or 0
d.	String(str): Variable stores the value as text
e.	Lists, tuple, dictionary can store multiple pieces of data.
'''
a,b,c,d=22,'Dattu',True,77.54
print("Data types of a,b,c,d....",type(a),type(b),type(c),type(d),sep='\n')

Data types of a,b,c,d....
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [5]:
'''4.	An expression is made up of values, variables, operators, which are performed according to the syntax of the language. The Interpreter evaluates the expression and display the result.'''

'4.\tAn expression is made up of values, variables, operators, which are performed according to the syntax of the language. The Interpreter evaluates the expression and display the result.'

In [6]:
'''5.	Statements represent an action or command & an Expression is made up of values, variables, operators which gives a particular value.
a.	Ex: Spam = 10 We are assigning value 10 to variable Spam, so it is called Assignment Statement. 
b.	A=50
B=50
print(A*B)……. This gives a value of 2500. Expression
'''
A,B=50,50
print(A*B)

2500

In [7]:
bacon=22
bacon+1

23

In [9]:
'spam'+'spamspam'

'spamspamspam'

In [10]:
'spam'*3

'spamspamspam'

In [11]:
'''8.	While creating a variable name the first letter in the word should be ALPHABET. So eggs can be created as variable name while 100 can’t be created.'''
eggs=100
eggs

100

In [15]:
'''9.	The int() function converts a specified value to int if its string or float.
The float() function converts a specified value to float if its in string or int format
The str() function converts a specified value to string. This is mainly used String Concatenation.
'''
a=int('10')
a

10

In [16]:
b=str(10)
b

'10'

In [17]:
c=float(10)
c

10.0

In [18]:
'''10.	Its string concatenation error. Two different data types like int & str can’t be concatenated. So we use String Concatenation.
Wrong: ‘I have eaten ‘ + 99+’ Burritos’
Right: ‘I have eaten ‘ + str(99)+’ Burritos’ 
'''
'I have eaten '+ str(99)+' Burritos'

'I have eaten 99 Burritos'